<div class="columns">
  <div class="column">
    <div class="notification is-primary">
      <figure class="image is-256x256">
        <img src="/assets/images/book_even.jpg" />
      </figure>
      <p>title</p>
      <p>price</p>
      <input
        name=""
        class="btn btn-primary"
        type="button"
        value="Add to cart"
      />
    </div>
  </div>

  <div class="column">
    <div class="notification">
      <figure class="image is-256x256">
        <img src="/assets/images/book_odd.jpg" />
      </figure>
      <p>title</p>
      <p>price</p>
      <input
        name=""
        class="btn btn-primary"
        type="button"
        value="Add to cart"
      />
    </div>
  </div>

  <div class="column">
    <div class="notification">
      <figure class="image is-256x256">
        <img src="/assets/images/book_even.jpg" />
      </figure>
      <p>title</p>
      <p>price</p>
      <input
        name=""
        class="btn btn-primary"
        type="button"
        value="Add to cart"
      />
    </div>
  </div>
</div>
